@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@config "../../tailwind.config.js";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  /* Will be set programatically by dekoratøren */
  --decorator-sticky-offset: 0px;
}

@media print {
  html {
    font-size: 16px;
  }

  #decorator-header,
  #decorator-footer,
  ._hj_feedback_container {
    display: none;
  }
}
